{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Secure Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada sodales sem, sit amet hendrerit ipsum tincidunt a. Curabitur nec consequat enim. Integer tellus erat, iaculis non purus at, lacinia tempor turpis. In tincidunt mattis venenatis. Fusce dui nisi, interdum at auctor ac, commodo in ante. Sed tincidunt justo erat, in dignissim lorem dapibus a. Sed purus orci, aliquet vitae odio vel, lobortis auctor est. Etiam aliquam neque vel diam mattis, in vestibulum nisi rhoncus. Etiam ut leo dictum, ultrices sem quis, ultrices quam. </p>
{% endblock %}
